[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
html5lib = "*"
lxml = "*"
requests = "*"
sqlalchemy = "~=2.0.0b2"
tqdm = "~=4.64.1"
url-normalize = "~=1.4.3"
warcio = "~=1.7.4"
warcprox = "*"
waybackpy = "~=3.0.6"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
